/* HackHaste. Bindings in standard ANSI key order.
 * Retarget the &kp list to the shield's keymap node if the matrix differs.
 */
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        haha {
            bindings = <
                &kp GRAVE  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5    &kp N6
                &kp LBKT   &kp RBKT  &kp V     &kp X     &kp Z     &kp Q     &kp BSPC
                &kp TAB    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS &kp K
                &kp L      &kp C     &kp G     &kp Y     &kp W     &kp SEMI  &kp BSLH
                &kp LCTRL  &kp U     &kp I     &kp A     &kp E     &kp O     &kp H
                &kp R      &kp S     &kp T     &kp N     &kp P     &kp RET
                &kp LSHIFT &kp SQT   &kp COMMA &kp DOT   &kp FSLH  &kp EQUAL &kp J
                &kp M      &kp D     &kp B     &kp F     &kp RSHIFT
                &kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE &kp RALT  &mo 1 &kp RCTRL
            >;
        };
        haha_left {
            bindings = <
                &kp GRAVE  &kp X     &kp V     &kp Z     &kp Q     &kp W     &kp SEMI
                &kp N1     &kp N2    &kp N3    &kp N4    &kp N5    &kp N6    &kp BSPC
                &kp TAB    &kp P     &kp G     &kp C     &kp L     &kp K     &kp MINUS
                &kp N7     &kp N8    &kp N9    &kp N0    &kp LBKT  &kp RBKT  &kp BSLH
                &kp LCTRL  &kp N     &kp T     &kp S     &kp R     &kp H     &kp O
                &kp E      &kp A     &kp I     &kp U     &kp Y     &kp RET
                &kp LSHIFT &kp F     &kp B     &kp D     &kp M     &kp J     &kp EQUAL
                &kp SQT    &kp COMMA &kp DOT   &kp FSLH  &kp RSHIFT
                &kp LCTRL  &kp LGUI  &kp LALT  &kp SPACE &kp RALT  &trans &kp RCTRL
            >;
        };
    };
};
